<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="dofinity">
  <description>Default PHP CodeSniffer configuration for Rules.</description>
  <file>.</file>

  <arg name="extensions" value="php,module,inc,install,test,profile,theme"/>
  <arg name="warning-severity" value="0"/>

  <!-- We always want short array syntax only. -->
  <rule ref="Generic.Arrays.DisallowLongArraySyntax" />
</ruleset>
